.searchByName {
    padding : 1rem 0 ;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    background-color: #69B0B6;

    input {
        padding : .5rem 1rem;
        border: none;
        background-color: aliceblue;
        border-radius: 1rem;
        color: #333;
        width: 65%;
    }
    input::placeholder{
        opacity: .5;
    }
    input:focus {
        outline: none ;
   }

   a {
    text-decoration: none;
    color: #333;
    background-color: aliceblue; ;
    padding: .4rem 1rem .5rem 1rem;
    border-radius: 1.2rem;
   }
}