nav {
    position: fixed;
    max-width: 480px;
    bottom: 0;
    height: 50px;
    display: flex;

    width: 100%;
    margin-inline: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E6EBF2;

    >a {
        >img {
            width: 32px;
        }
    }
}