@mixin tag {
    font-family: Roboto;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #69B0B6;
    color: aliceblue;
    width: fit-content;
    padding-inline: 10px;
    height: 35px;
    border-radius: 1rem;
}

.areaSlider {
    width: 100%;
    margin-top: 20px;

    .areaHead {
        display: flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        max-height: 40px;
        margin-block: 10px;

        h2 {
            font-family: Mondserat;
            font-size: 1.3em;
        }

        button {
            font-family: Roboto;
            color: #69B0B6;
            border: 1px solid #69B0B6;
            padding: 2px 5px;
            border-radius: 20px;
            background-color: transparent;
            margin-right: 5px;
        }
    }

    .dropDown {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        column-gap: 3px;
        row-gap: .3rem;

        a {
            @include tag;
        }
    }

    .standard {
        display: flex;
        align-items: center;
        column-gap: 3px;
        max-width: 100%;
        overflow: auto;
        padding-left: 20px;
        scroll-behavior: smooth;
        overscroll-behavior-inline: contain;
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 20px;

        a {
            @include tag;
        }
    }

    .standard::-webkit-scrollbar {
        display: none;
    }

    .standard {
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
    }

}