.catCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 140px;
    height: 200px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 7px 16px -5px;

    img {
        border-radius: 20px;
        width: 130px;
        height: 100px;
    }

    h4 {
        max-width: 25ch;
        max-height: 3.5ch;
        margin: 0 10px 0 10px;
        overflow: hidden;

    }

}