@font-face {
    font-family: Mondserat;
    src: url(../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

// VARIABLES
$mondserat: Mondserat;

// MARGIN
$margin-big: 20px;
$margin-small: 10px;

// FONT SIZES
$font-size-h1: 1.375em;
$font-size-h2: 1.125em;
$font-size-secondary: 0.9em;